
@{
    ViewData["Title"] = "Редактирование проекта";
}

<div class="container-fluid">
  <div class="animated fadeIn"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Создание/редактирование проекта</strong>
        </div>
        <div class="card-body">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Название</label>
              <div class="col-md-9">
                <input class="form-control" id="name" type="text" name="text-input">                        
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">О проекте</label>
              <div class="col-md-9">
                <textarea class="form-control" id="textarea-input" name="textarea-input" rows="9" placeholder="Описание проекта"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-9">
                <strong>Команда:</strong>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Добавить участника
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Ссылки</label>
              <div class="col-md-5">
                <input class="form-control" id="name" type="text" name="text-input" placeholder="Ссылка">                        
              </div>
              <div class="col-md-4">
                <input class="form-control" id="name" type="text" name="text-input" placeholder="Название">                        
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Теги</label>
              <div class="col-md-9">
                <input class="form-control" id="name" type="text" name="text-input">                        
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Сферы</label>
              <div class="col-md-9">
                <input class="form-control" id="name" type="text" name="text-input">                        
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-9">
                <strong>Нужны в команду</strong>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                  Добавить соискателя
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit">
            <i class="fa fa-dot-circle-o"></i> Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить участника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
          <div class="form-group row">
            <div class="col-md-10" style="padding-left:25px;">
              <label class="col-form-label" for="text-input">Имя</label>                               
              <input class="form-control" id="name" type="text" name="text-input">                        
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-10" style="padding-left:25px;">
              <label class="col-form-label" for="text-input">Роль</label>                               
              <input class="form-control" id="name" type="text" name="text-input">                        
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-form-label">Обязанности</label>
            <textarea class="form-control" id="textarea-input" name="textarea-input" rows="10" placeholder=""></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить соискателя</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
          <div class="form-group row">
            <div class="col-md-10" style="padding-left:25px;">
              <label class="col-form-label" for="text-input">Роль</label>                               
              <input class="form-control" id="name" type="text" name="text-input">                        
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-10" style="padding-left:25px;">
              <label class="col-form-label" for="text-input">Специализация</label>                               
              <input class="form-control" id="name" type="text" name="text-input">                        
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-form-label">Обязанности</label>
            <textarea class="form-control" id="textarea-input" name="textarea-input" rows="10" placeholder=""></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>