
@{
  ViewData["Title"] = "Страница проекта";
}

<div class="col-md-6">
  <div class="card">
    <div class="card-header"><strong>Название проекта</strong>
    </div>
    <div class="card-body">
      <p><strong>Описание:</strong>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header"><strong>Команда</strong>
    </div>
    <div class="card-body">
      <div>
        <div>
          <h4>Участники</h4>
        </div>
        <div>
          <div style="font-weight: bold;"><a href="#">Имя пользователя</a></div>
          <div style="font-weight: bold; margin-top: 8px;">Роль</div>
          <div>kjasfkjnsadjf</div>
          <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
          <div>hkasdfkjsdnajkfkb</div>
        </div>
        <hr />
      </div>
      <div>
        <div>
          <h4>Нужны в команду</h4>
        </div>
        <div>
          <div style="font-weight: bold;">
            Роль
            <div style="float: right;"><button type="button" class="btn btn-primary"> Присоединиться</button></div>
          </div>
          <div style="font-style: italic; margin-top: 8px;">IT > Backend</div>
          <div style="font-weight: bold; margin-top: 8px;">Обязанности</div>
          <div>jnasjdfnkjasbdjkfbasdkjbf</div>
        </div>
        <hr />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a href="" target="_blank">Ссылка на сайт проекта</a>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-header"><strong>Теги</strong>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-info">Data Science
      </span>
    </div>
  </div>
</div>